
::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #111;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #aaa;
    -webkit-box-shadow: inset 0 0 6px #333;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #555;
}

h3 {
    text-align: center
}

.dashboard-block {
    margin-left: 15px;
    width: 100px;
    height: 200px;
    border: solid 1px;
    text-align: center;
}

.svg-menu-list-div {
    overflow-x: scroll;
}

.svg-menu-ul {
    position: relative;
}

.svg-menu-li {
    float: left;
    position: relative;
    margin-left: -40px;
}

.zhihu-login-effect-block {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}